body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    margin-top: 30px;
    text-align: left;
    align-items: center;
}

        
.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* 调整输入框宽度 */
#diceInput {
    font-weight: bold;;
    width: 300px;  /* 原200px调整为150px */
    height: 30px;
    padding: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    border-color: #63ab3f;
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;
    color: #283540;
    font-style: italic;
}
#diceInput::placeholder{
    color: #9E9E9E;  /* 占位符颜色 */
    font-style: italic;  /* 斜体样式 */
}

/* Roll按钮专用样式 */
#rollButton {
    background-color: #4c6885;  /* 蓝色区分操作按钮 */
    height: 30px;
    padding: 0px 20px;
    font-weight: bold;;
}
#rollButton:hover {
    background-color: #3a3f5e;  /* 深蓝色悬停效果 */
}

#clearButton {
    background-color: #e64539;  /* 红色清除按钮 */
    height: 30px;
    padding: 0px 20px;
    font-weight: bold;
}
#clearButton:hover {
    background-color: #ad2f45;  /* 深红色悬停效果 */
}

#resultOutput {
    width: 300px;
    height: 80px;
    padding: 5px;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;;
    border: 2px solid #4c6885;
    border-radius: 8px;
    background-color: #f8f8f8;
    resize: none;
    color: #283540;
}


.dice-buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    align-items: left;
    gap: 10px;
    border-radius: 2px;
    
}
.dice-button {
    height: 40px;
    width: 80px;
    padding: 0px 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: #63ab3f;
    color: white;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3b7d4f;
}
